section{
    &.breadcrumb_area{
        height: 55px;
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--bread_bg);
        padding: 0 25px;
        ul{
            display: flex;
            &.breadcrumb{
                li+li:before {
                    padding: 8px;
                    color: var(--gray);
                    content: "/\00a0";
                  }
                li{
                    list-style: none;
                    color: #eee;
                    a{
                        color: #0275d8;
                        text-decoration: none;
                    }
                }
            }
        }
        .breadcrumb_end{
            display: flex;
            align-items: center;
            margin-right: 20px;
            gap: 10px;
            .butn{
                display: flex;
                align-items: center;
                .material-symbols-outlined{
                    margin-right: 5px;
                }
                span{
                    font-size: 20px;
                }
            }
        }
        @include xs(){
            display: grid;
            justify-content: end;
            height: 100px;
            padding-right: 10px;
            .breadcrumb_end{
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}
