.content{
    .tbl_header{
        h3{
            font-size: 22px;
            color: var(--card_color);
        }
    }
}
table{
    display: table;
    border-collapse: collapse;
    width: 100%;
}
.table{
    background-color: transparent;
    color: var(--text_color);
    vertical-align: middle;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
}

table, thead, tbody, th, tr,td{
    border: 1px solid #dee2e6;
    text-align: center;
    // align-content: center;
}

thead{
    vertical-align: bottom;
}


tbody{
    vertical-align: inherit;
}
th, td{
    padding: .5rem;
    font-size: .9rem;
    min-height: 2rem;
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.table_striped{
    background: #d4d4d4;

    thead{
        background: #91bcdf;
        padding: 0 10px;
    }
    tbody{
        padding: 0 15px;
        tr{
            &:nth-child(odd){
                background: #f4f4f4;
            }
            &:nth-child(even){
                background: #91bcdf
            }
        }
    }
}
.table_left{
    td{
        text-align: left;
    }
}



