.profile{
    max-width: 850px;
    margin: auto;
}

.section_header{
    width: 600px;
    margin: 20px auto;
    h2{
        margin: 10px 0;
    }
}

.profile_img{
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid gray;
    outline: inset 2px
}

.img_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    button{
        width: 150px;
    }

}
.upload_btn{
    text-align: center;
    width: 150px;
}


